.fragment header[role=banner] .titlearea .pagetitle {
    color: #000;
}

span.group-title win-type-ellipsis {
    color: #000;
}

#budgetEditPopupUI .innerDiv {
    height: 368px;
    padding: 15px;
    border: 1px solid #fff;
    color: #FFF;
}

#budgetEditPopupUI .innerDiv h3 {
    margin-bottom: 20px;
}